#body {
  border-top: 1px solid grey;
  margin: 0 4px;
  min-height: 700px;
  padding: 4px;
  position: relative; 
}

#sponsors {
  @include absolute(right, top, 20px, 20px);
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  width: 200px;
  > span {
    background-color: #555555;
    border-top: 1px solid #cccccc;
    color: white;
    display: block;
    font-weight: bold;
    padding-left: 10px; }
  ul {
    li {
      margin: 8px;
      text-align: center; } } }
