=dev_border(!color = #0F0, !style = "solid")
  border:
    color: #{!color}
    width: 1px
    style: #{!style}

=float(!side)
  display: inline
  float: #{!side}

=clear(!side)
  zoom: 1
  clear: #{!side}