#body {
  border-top: 1px solid #c6c6c6;
  height: auto !important; /* min-height hack for ie6 */
  height: 100%; /* min-height hack for ie6 */
  margin: #{$main_side_margin};
  min-height: 100%;
  padding: 10px 222px 0 10px; /* right padding = aside.sponsors(width+offsetRight+border+10px) */
  position: relative;
}

#content {
  min-height: 300px;
  min-width: 700px;
}

#breadcrumb {
  height: 14px;
  margin-bottom: 4px;
  text-transform: capitalize;
}

aside.sponsors {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  > span {
    background-color: #555555;
    color: white;
    display: block;
    font-weight: bold;
    line-height: 18px;
    padding-left: 10px;
    position: relative }
  ul {
    li {
      margin: 8px;
      text-align: center; } } }