$footer_height: 71;

/* sticky footer. see http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
#main_container {
  margin-bottom: -#{$footer_height}px;
}

footer, #push_footer {
  height: #{$footer_height}px;
}

footer {
  min-width: 936px;
  background: {
    image: url('../../images/default/footer.png');
    repeat: repeat-x; }
  div {
    margin: auto;
    padding-top: 10px;
    text-align: center; }
}