label {
  line-height: 20px;
  margin: 0 2%;
  &:after {
    content: ": "; } }

input, submit {
  padding: 0 2px; }

input.error, input:invalid, textarea:invalid {
  @include box-shadow(0, 0, 4px, #F00); }

span.error {
  color: #d52f18;
  display: block;
  float: left;
  font-weight: bold;
  @include opacity(0);
  height: 14px;
  width: 100%}

span.error img {
  height: 16px;
  vertical-align: middle;
  width: 16px;
}

$fieldset_margin_left: 25;

form.default {
  div.fieldset_wrapper {
    float: left;
    position: relative;
  }
  input[type="submit"] {
    border: auto;
    position: absolute;
    right: #{$fieldset_margin_left + 20}px;
  }
  input {
    border: 1px solid black;
  }
  label, input[type="submit"], select {
    display: inline-block;
  }
  fieldset {
    border: 1px solid #CCC;
    @include border-radius(5px);
    margin: 10px #{$fieldset_margin_left}px 10px #{$fieldset_margin_left}px;
    padding: 0 4% 24px 4%;
    legend {
      margin: 0 4px;
      padding: 0 4px;
      font: {
        size: 15px;
        weight: 700;
      }
    }
  }
  li {
    clear: both;
    margin: 4px 0;
    position: relative;
    &.headline {
      margin-top: 20px;
      font: {
        size: 13px;
        weight: 700;
      }
    }
    span {
      display: block; } } 
  input[type="submit"] {
    display: block;
    clear: both; } }

form.two_columns div.fieldset_wrapper {
  width: 50%;
}

form.register {
  input[name="login"] {
    display: none;
    left: #{$fieldset_margin_left + 10}px;
    position: absolute;
  }
  span.login_failed {
    bottom: -34px;
    display: none;
    left: 20px;
    position: absolute; } }

label.required {
  font-weight: 600;}

div.input_loading {
  border: 1px solid green;
  display: inline-block;
  width: 40px; }