$userbox_width: 260;
$avatar_width: 50;
$rest: $userbox_width - $avatar_width - 2;
$half_rest: $rest / 2 - 1;

header {
  font: {
    size: 10pt;
    weight: 500; };
  height: 130px;
  position: relative;}

#top_left_corner,
#top_right_corner {
  background: {
    repeat: no-repeat; }
  height: 9px;
  position: absolute;
  top: -5px;
  width: 5px;
  z-index: 2;}

#top_left_corner {
  background: {
    image: url('../../images/default/top1.png'); }
  left: 0;
}

#top_right_corner {
  background: {
    image: url('../../images/default/top3.png'); }
  right: 0;
}

#top_bar {
  background: {
    image: url('../../images/default/top2.png');
    repeat: repeat-x; }
  height: 20px;
  line-height: 20px;
  padding: 2px #{$main_side_margin};
  position: relative;
  top: -5px; }

#top_bar_lang img {
  cursor: pointer;
  margin-right: 5px;
}

#top_bar_logged {
  @include absolute(right, top, 3px, 1px);
  a {
    display: none;
    &.logged_in {
      display: inline;
    }
  }
}

#header_main {
  height: 100px;
  margin: 2px #{$main_side_margin}; 
  position: relative; }

#head_logo,
#head_bg_continuation,
#head_bg_end {
  height: 104px; }

#head_logo {
  background: {
    image: url('../../images/default/logo.png');
    repeat: no-repeat; }
  float: left;
  width: 559px; }

#head_bg_continuation {
  background: {
    image: url('../../images/default/head.png'); }
  margin-right: 13px;
}

#head_bg_end {
  background: {
    image: url('../../images/default/headend.png');
    repeat: no-repeat; }
  position: absolute;
  right: 0;
  top: 0;
  width: 13px;
}

#header_login { }

#header_userbox {
  @include absolute(right, top, 20px, 15px);
  color: white;
  width: #{$userbox_width}px;
  z-index: 2;
  span.error {
    @include absolute(right, top, 30px, -10px);
    display: none;
    float: auto;
    @include opacity(1);
    width: auto;
  }
  form {
    color: white;
    text-align: right;
    width: #{$userbox_width}px;
    input {
      border: {
        width: 1px;
        style: solid;
        color: #787878;
        left: {
          color: #070707; }
        top: {
          color: #070707; } }
      @include gradient(#1c1c1c, #393939);
      color: white;
      height: 18px;
      margin: 5px 0 0;
      width: 140px; }
    input[type="submit"],
    input[type="button"] {
      background-color: #686868;
      border: {
        width: 0px;
        style: solid;
        color: #afafaf;
        left: {
          width: 1px; }
        top: {
          width: 1px; } }
      font-weight: 600;
      @include gradient(#7e7e7e, #545454);
      height: 21px;
      line-height: 21px;
      margin-left: 10px;
      min-width: 50px;
      outline: 1px solid black;
      padding: 0 10px 4px;
      width: auto;
      &:hover{
        @include gradient(#545454, #7e7e7e); }
      &:active {
        color: #{$orange} } }
  }
  &.logged_in {
    border: 1px solid black;
  }
  &.logged_in form {
    display: none;
  }
  .content {
    display: none;
    height: 70px;
  }
  &.logged_in .content {
    display: block;
  }
  a {
    border: {
      color: #919191;
      style: solid;
      width: 0px;
      left: {
        width: 1px; };
      top: {
        width: 1px; }; };
    display: block;
    float: left;
    height: 49%;
    line-height: 35px;
    text-align: center;
    width: #{$half_rest}px;
    &:hover {
      color: #ae5317;
      cursor: pointer; }
    span {
      margin: auto; } } }

#userbox_avatar {
  border: {
    right: {
      color: black;
      width: 1px;
      style: solid; }; };
  background: {
    color: #333333; };
  float: left;
  font: {
    size: 18pt;
    weight: bold; };
  height: 100%;
  width: #{$avatar_width}px; }

#userbox_profile {
  width: #{$rest}px !important; }
