@import "_defines.scss";
@import "_boilerplate.scss";

$main_side_margin: 6px;
$orange: #e76510;

header, footer, aside, nav, article, div {
  display: block; }  


ul {
  list-style-type: none; }

html * {
  margin: 0;
  padding: 0;
  font: {
    size: 9pt;
    family: Tahoma, Arial, sans-serif; }; }

html, body {
  padding: 3px 2% 0 2%;
  height: 100%;}

body {
  background: {
    image: url('../../images/default/bg.png'); } }

#main_container {
  background: {
    color: white; };
  min-width: 936px;
  min-height: 100%;
  height: auto !important; /* min-height hack for ie6 */
  height: 100%; /* min-height hack for ie6 */
  margin-top: 5px; }

.top-right {
  min-width: 350px;
  position: fixed;
  right: 15px;
  top: 15px;
  width: 4%;
  z-index: 100;
}

.jGrowl-notification, .jGrowl-closer {
  background-color: #333;
  border: 1px solid #888;
  @include border-radius(5px);
  @include box-shadow(3px, 3px, 4px, #333);
  color: #fff;
  display: none;
  @include opacity(0.9);
  padding: 4px 8px;
}

.success .jGrowl-message, .success .jGrowl-header {
  color: #3f3;
}

.jGrowl-header {
  font-weight: 700;
}

.jGrowl-notification.warning {
  color: #e8ac14;
}

.jGrowl-close, .jGrowl-closer {
	float: right;
  font-weight: bold;
	cursor: pointer;
}

.tip {
  border: 1px solid #444444; /*1px solid #FFD5AA;*/
  @include border-radius(5px);
  background: #000;
  color: #fff;
  display: none;
  max-width: 300px;
  padding: 5px;
  position: absolute;
  @include opacity(0.9);
  z-index: 100000;
}



@import "_header.scss";
@import "_navi.scss";
@import "_content.scss";
@import "_quicklist.scss";
@import "_form.scss";
@import "_footer.scss";
@import "_chat.scss";