html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: baseline; }

/* END RESET CSS */
/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* 
 * minimal base styles 
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  font-family: Georgia, serif; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul, ol {
  margin-left: 0em; }

ol {
  list-style-type: decimal; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

textarea {
  overflow: auto; }

/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection {
  background: #3399ff;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #3399ff;
  color: #fff;
  text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* 
 * Non-semantic helper classes 
 */
/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* >> The Magnificent CLEARFIX << j.mp/phayesclearfix */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

/* Primary Styles
   Author: 
*/
/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

/*
 * Media queries for responsive design
 */
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */ }

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */ }

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }

header, footer, aside, nav, article, div {
  display: block; }

ul {
  list-style-type: none; }

html * {
  margin: 0;
  padding: 0;
  font-size: 9pt;
  font-family: Tahoma, Arial, sans-serif; }

html, body {
  padding: 0.2% 2% 0 2%;
  height: 100%; }

body {
  background-image: url("../../images/default/bg.png"); }

#main_container {
  background-color: white;
  min-width: 936px;
  min-height: 100%;
  height: auto !important;
  /* min-height hack for ie6 */
  height: 100%;
  /* min-height hack for ie6 */
  margin-top: 5px; }

.top-right {
  min-width: 350px;
  position: fixed;
  right: 15px;
  top: 15px;
  width: 4%;
  z-index: 100; }

.jGrowl-notification, .jGrowl-closer {
  background-color: #333;
  border: 1px solid #888;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 3px 3px 4px 0px #333333;
  -webkit-box-shadow: 3px 3px 4px 0px #333333;
  box-shadow: 3px 3px 4px 0px #333333;
  color: #fff;
  display: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding: 4px 8px; }

.jGrowl-notification.warning {
  color: #e8ac14; }

.jGrowl-close, .jGrowl-closer {
  float: right;
  font-weight: bold;
  cursor: pointer; }

header {
  font-size: 10pt;
  font-weight: 500;
  height: 130px;
  position: relative; }

#top_left_corner,
#top_right_corner {
  background-repeat: no-repeat;
  height: 9px;
  position: absolute;
  top: -5px;
  width: 5px;
  z-index: 2; }

#top_left_corner {
  background-image: url("../../images/default/top1.png");
  left: 0; }

#top_right_corner {
  background-image: url("../../images/default/top3.png");
  right: 0; }

#top_bar {
  background-image: url("../../images/default/top2.png");
  background-repeat: repeat-x;
  height: 20px;
  line-height: 20px;
  padding: 2px 6px;
  position: relative;
  top: -5px; }

#top_bar_lang img {
  cursor: pointer;
  margin-right: 5px; }

#top_bar_logged {
  position: absolute;
  right: 3px;
  top: 1px; }
  #top_bar_logged a {
    display: none; }
    #top_bar_logged a.logged_in {
      display: inline; }

#header_main {
  height: 100px;
  margin: 2px 6px;
  position: relative; }

#head_logo,
#head_bg_continuation,
#head_bg_end {
  height: 104px; }

#head_logo {
  background-image: url("../../images/default/logo.png");
  background-repeat: no-repeat;
  float: left;
  width: 559px; }

#head_bg_continuation {
  background-image: url("../../images/default/head.png");
  margin-right: 13px; }

#head_bg_end {
  background-image: url("../../images/default/headend.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 13px; }

#header_userbox {
  position: absolute;
  right: 20px;
  top: 15px;
  color: white;
  width: 260px;
  z-index: 2; }
  #header_userbox span.error {
    position: absolute;
    right: 30px;
    top: -12px;
    display: none; }
  #header_userbox form {
    color: white;
    text-align: right;
    width: 260px; }
    #header_userbox form input {
      border-width: 1px;
      border-style: solid;
      border-color: #787878;
      border-left-color: #070707;
      border-top-color: #070707;
      background-color: #1c1c1c;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c1c1c), to(#393939));
      background: -moz-linear-gradient(#1c1c1c, #393939);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to);
      color: white;
      height: 18px;
      margin: 5px 0 0;
      width: 140px; }
    #header_userbox form input[type="submit"],
    #header_userbox form input[type="button"] {
      background-color: #686868;
      border-width: 0px;
      border-style: solid;
      border-color: #afafaf;
      border-left-width: 1px;
      border-top-width: 1px;
      font-weight: 600;
      background-color: #7e7e7e;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7e7e7e), to(#545454));
      background: -moz-linear-gradient(#7e7e7e, #545454);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to);
      height: 21px;
      line-height: 21px;
      margin-left: 10px;
      min-width: 50px;
      outline: 1px solid black;
      padding: 0 10px 4px;
      width: auto; }
      #header_userbox form input[type="submit"]:hover,
      #header_userbox form input[type="button"]:hover {
        background-color: #545454;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#545454), to(#7e7e7e));
        background: -moz-linear-gradient(#545454, #7e7e7e);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to); }
      #header_userbox form input[type="submit"]:active,
      #header_userbox form input[type="button"]:active {
        color: #e76510; }
  #header_userbox.logged_in {
    border: 1px solid black; }
  #header_userbox.logged_in form {
    display: none; }
  #header_userbox .content {
    display: none;
    height: 70px; }
  #header_userbox.logged_in .content {
    display: block; }
  #header_userbox a {
    border-color: #919191;
    border-style: solid;
    border-width: 0px;
    border-left-width: 1px;
    border-top-width: 1px;
    display: block;
    float: left;
    height: 49%;
    line-height: 35px;
    text-align: center;
    width: 103px; }
    #header_userbox a:hover {
      color: #ae5317;
      cursor: pointer; }
    #header_userbox a span {
      margin: auto; }

#userbox_avatar {
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  background-color: #333333;
  float: left;
  font-size: 18pt;
  font-weight: bold;
  height: 100%;
  width: 50px; }

#userbox_profile {
  width: 208px !important; }

nav {
  background-image: url("../../images/default/navi1.png");
  height: 30px;
  margin: 0 6px;
  position: relative; }
  nav ul {
    background-image: url("../../images/default/navi-end.png");
    background-position: right;
    background-repeat: no-repeat;
    height: 30px; }
  nav li {
    background-image: url("../../images/default/navi2.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 30px;
    min-width: 40px; }
    nav li a {
      color: #fff;
      display: block;
      font-weight: bold;
      height: 28px;
      line-height: 28px;
      margin: 2px 0 0 2px;
      min-width: 50px;
      padding: 0 15px;
      text-align: center;
      text-decoration: none; }
      nav li a.current {
        background-color: #e55c0a;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e55c0a), to(#d0450a));
        background: -moz-linear-gradient(#e55c0a, #d0450a);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to); }
      nav li a:visited, nav li a:hover, nav li a:active {
        color: #fff; }
      nav li a:hover {
        background-color: #d0450a;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0450a), to(#e55c0a));
        background: -moz-linear-gradient(#d0450a, #e55c0a);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to); }
      nav li a:active {
        height: 27px;
        padding-top: 1px;
        padding-left: 16px;
        margin-right: -1px; }

#nav_shadow {
  background-image: url("../../images/default/navishadow.png");
  background-repeat: repeat-x;
  height: 5px;
  margin: 0 6px 10px; }

#body {
  border-top: 1px solid #c6c6c6;
  height: auto !important;
  /* min-height hack for ie6 */
  height: 100%;
  /* min-height hack for ie6 */
  margin: 6px;
  min-height: 100%;
  padding: 10px 222px 0 10px;
  /* right padding = aside.sponsors(width+offsetRight+border+10px) */
  position: relative; }

#content {
  min-height: 300px;
  min-width: 700px; }

#breadcrumb {
  height: 14px;
  margin-bottom: 4px;
  text-transform: capitalize; }

aside.sponsors {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px; }
  aside.sponsors > span {
    background-color: #555555;
    color: white;
    display: block;
    font-weight: bold;
    line-height: 18px;
    padding-left: 10px;
    position: relative; }
  aside.sponsors ul li {
    margin: 8px;
    text-align: center; }

#quicklist {
  margin: 3px auto;
  width: 100%; }
  #quicklist li {
    border: 1px solid #333;
    background-color: #dde;
    display: block;
    float: left;
    margin: 0 4px 10px 4px;
    width: 49%; }
    #quicklist li table {
      border-collapse: collapse;
      width: 100%; }
      #quicklist li table thead tr th {
        background-color: #555;
        border-left: 4px solid #c84b1d;
        color: white;
        font-size: 11pt;
        padding-left: 2px;
        text-align: left; }
      #quicklist li table tbody tr:nth-child(even) {
        background-color: #c1c1cd; }

form label {
  line-height: 20px;
  margin-right: 4px; }
  form label:after {
    content: ": "; }

input, submit {
  padding: 0 2px; }

input.error, input:invalid, textarea:invalid {
  -moz-box-shadow: 0 0 4px 0px red;
  -webkit-box-shadow: 0 0 4px 0px red;
  box-shadow: 0 0 4px 0px red; }

span.error {
  color: #d52f18;
  font-weight: bold; }

form.default div.fieldset_wrapper {
  float: left;
  position: relative; }
  form.default div.fieldset_wrapper input[type="submit"] {
    border: auto;
    position: absolute;
    right: 50px; }
  form.default div.fieldset_wrapper input {
    border: 1px solid black; }
form.default fieldset {
  border: 1px solid #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 10px 30px 10px 30px;
  padding: 0 30px 10px 10px; }
  form.default fieldset legend {
    margin: 0 4px;
    padding: 0 4px;
    font-size: 15px;
    font-weight: 700; }
form.default li {
  clear: both;
  margin: 4px 0; }
  form.default li.headline {
    font-size: 13px;
    font-weight: 700; }
  form.default li span {
    display: block; }
form.default input[type="submit"] {
  display: block;
  clear: both; }

form.register input[name="login"] {
  display: none;
  left: 20px;
  position: absolute; }
form.register span.login_failed {
  bottom: -34px;
  display: none;
  left: 20px;
  position: absolute; }

label.required {
  font-weight: 600; }

div.input_loading {
  border: 1px solid green;
  display: inline-block;
  width: 40px; }

/* sticky footer. see http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
#main_container {
  margin-bottom: -71px; }

footer, #push_footer {
  height: 71px; }

footer {
  background-image: url("../../images/default/footer.png");
  background-repeat: repeat-x; }
  footer div {
    margin: auto;
    padding-top: 10px;
    text-align: center; }
