%html
  %head
    %title Well ain't that something?
    %script{ src: '/js/jquery-1.4.2.js' }
    %script{ src: '/js/app.js' }
    %link{ rel: 'stylesheet', href: '/public/prototype/css/style.css' }
  %body
    #main_container
      #header
        #top_bar
          %span#top_bar_lang
            Ger Eng
          %span#top_bar_time
            2010-03-20 13:45:10 UTC
          %span#top_bar_logged
            Suche Logout
        #main_header
          #header_loading
            Loading & Logo
          #header_userbox
            #userbox_avatar
            #userbox_top
              euml
            #userbox_bottom
              #userbox_user
                Benutzer
              #userbox_team
                Teams
      #navi
        %a{ href: "/" }
          News
        %a{ href: "/tourn" }
          Turniere
      #body
        #content= body
        #sponsors
          Sponsors
      #footer
        Footer